<div class="flex flex-row h-full w-full p-2">
  <div class="hidden md:block md:w-1/12 flex flex-col border-2">
    <%= render @users %>
    <%= turbo_stream_from "users" %>
    <div id="users"></div>
  </div>
  <div class="<%= @thread.nil? ? "w-full md:w-11/12" : "w-1/2 md:w-7/12" %>">
    <%= render "chat_window", 
      source:      "chat",
      messages:    @messages,
      new_message: @message 
    %>
  </div>
  <% if @thread.present? %>
    <div class="w-1/2 md:w-4/12 border-2">
      <%= render "chat_window", 
        source:      @thread.id,
        messages:    @thread.thread_messages.backlog,
        new_message: Message.new(thread: @thread)
      %>
    </div>
  <% end %>
</div>